
.powerbutton,
.mutebutton,
.recallbutton,
.play-pausebutton,
.guidebutton {
	width: 90px;
}

.menubutton,
.inputbutton,
.volumedown,
.volumeup,
.channeldown,
.channelup,
.rewind,
.forward,
.pageupbutton,
.pagedownbutton {
	width: 70px;
}

.volumedown,
.channeldown,
.rewind,
.pagedownbutton,
.menubutton {
	margin: 0 0 0 20px;
}

.volumebuttontag {
	font-size: 12px;
	margin: 0 125px;
}

.channelbuttontag {
	font-size: 12px;
	margin: 0 120px;

}

.play-pausebuttontag {
	font-size: 12px;
	margin: 0 115px;

}

.myrecordingsbuttontag {
	font-size: 12px;
	margin: 0 105px;
}

.volumebuttontag,
.channelbuttontag,
.play-pausebuttontag,
.myrecordingsbuttontag {
	color: lightgrey;
}

table tr th, table tr td {
	padding: 0;
}

.panel {
	margin: 20px 0 0 0 ;
	padding: 10px 0;
	background: white;
}

h1 {
	text-align: center;
}

.keypad {
	width: 60px;
	height: 40px;
	margin: 0;
}



